body {
    background-color: #121212; /* Ein dunkles Grau für den Hintergrund */
    color: #ffffff; /* Weiße Schrift für bessere Lesbarkeit */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #f0f0f0; /* Etwas helleres Grau für Überschriften */
}

canvas {
    margin-top: 20px;
    border: 1px solid #ffffff;
}

input[type="file"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
